*
{
    margin: 0px;
    padding: 0px;
}



.wrap
{
    height: 100%;
    width: 100%;
    border: 3px solid darkgray;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.xy-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.border*/
/*{*/
    /*border: 1px solid red;*/
/*}*/

div.main-bars:hover
{
    background-color: #eceadb;
}