.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
    top: 20px;
    right: -44px;
    background-color: #0c1e0a;
    min-width: 100px;
    padding: 12px 16px;
    z-index: 21;
}
.dropdown:hover .dropdown-content {
    display: block;
}